<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Design</title>
</head>
<body>
<form action="" method="post">
    <div th:each="item : ${list}">
        <input type="radio" name="id" th:value="*{item.id}">
        <span th:text="*{item.color}"></span>
    </div>
    <span th:text="${color}"></span>
    <div>
        <select name="color" id="type">
            <option th:each="e : ${list}" th:value="*{e.name}" th:text="*{e.color}"></option>
        </select>
    </div>
    <input type="text" name="name" th:value="${color}">
    <input type="submit" value="提交">
</form>
</body>
</html>