<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Taco Cloud</title>
    <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <script>
        $(function(){
            $("#jump").on("click",function(){
                $.ajax({
                    type: "POST",
                    url: "/hello",
                    data: {"system":"spring"},
                    sync: true,
                    error: function(request){
                        alert("error: "+ request);
                    },
                    success: function(data){
                        console.log(data);
                    }
                });
            })
        })
    </script>
</head>
<body>
    <p>Hello World!</p>
    <img th:src="@{/static/images/roob.png}" alt="">
    <button id="jump">跳转</button>
</body>
</html>