<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Order</title>
</head>
<body>

<form action="/order" method="post" th:object="${order}">
    <span>id #:</span>
    <input id="id" type="text" th:field="*{id}"/>
    <!--验证id字段-->
    <span th:if="${#fields.hasErrors('id')}"
          th:errors="*{id}">CC Num Error</span>
    <br/>
    <label for="name">name #: </label>
    <input id="name" type="text" th:field="*{name}"/>
    <!--验证name字段-->
    <span th:if="${#fields.hasErrors('name')}"
          th:errors="*{name}">CC Num Error</span>
    <br/>
    <input type="submit" value="提交"/>
</form>
</body>
</html>