<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>popApply</title>
    <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <script>
        $(function(){
            $("#form_submit").on("click",function(){
                var data = $("#pop").serializeArray()
                var obj = {}
                obj.son = []
                console.log(data);
                for(let i = 0;i<data.length;++i){
                    let name = data[i].name;
                    if(name == "goodsCode"){
                        let sonobj = {};
                        sonobj[name] = data[i].value;
                        sonobj[data[++i].name] = data[i].value;
                        obj.son.push(sonobj);
                        continue;
                    }
                    obj[name] = data[i].value;
                }
                $.ajax({
                    type: "POST",
                    url: "/popForm",
                    dataType: "json",
                    traditional : true,
                    contentType : "application/json;charset=utf-8",
                    async: false,
                    data: JSON.stringify(obj),
                    success: function(data){
                        console.log(data);
                    },
                    error: function(msg){
                        alert("失败: " + msg);
                    }
                })
            })
        });
    </script>
</head>
<body>
<form id="pop">
    <span>applyName #: </span><input type="text" name="name" id="name"  /><br/>
    <span>company #: </span><input type="text" name="company" id="company" /><br/>
    <span>applyDate #: </span><input type="text" name="applyDate" id="applyDate" /><br/>
    <table>
        <tr>
            <td>品名</td>
            <td>数量</td>
        </tr>
        <tr>
            <td><input type="text" name="goodsCode" /></td>
            <td><input type="text" name="totalAmount" /></td>
        </tr>
        <tr>
            <td><input type="text" name="goodsCode" /></td>
            <td><input type="text" name="totalAmount" /></td>
        </tr>
    </table>
    <span id="form_submit">提交</span>
</form>
</body>
</html>