<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Stock</title>
    <script src="https://cdn.staticfile.org/vue/2.2.2/vue.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
<div id="app">
    <table>
        <tr>
            <td>TASKID</td>
            <td>CODE</td>
            <td>NAME</td>
            <td>BRAND</td>
            <td>COUNT</td>
        </tr>
        <tr v-for="item in items">
            <td>{{ item.task }}</td>
            <td>{{ item.code }}</td>
            <td>{{ item.name }}</td>
            <td>{{ item.brand }}</td>
            <td>{{ item.count }}</td>
        </tr>
    </table>
</div>
<script>
    new Vue({
        el: '#app',
        data () {
            return {
                items: null
            }
        },
        mounted () {
            axios
                .post('/stock').then(response => (this.items = response.data))
                .catch(function (error) {
                    console.log(error);
                });
        }
    })
</script>
</body>
</html>